@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family:  'PT Sans Narrow', sans-serif;
}
.open
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}
.open .layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
    background: #fff;
    z-index: 10;
}
.open .layer:nth-child(2)
{
    background: #03a9f4;
    animation-delay: 1s;
    z-index: 9;
}
@keyframes open
{
    0%
    {
        transform: scaleY(1);
    }
    100%
    {
        transform: scaleY(0);
    }
}
section
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
}
.bannerText
{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
}
.bannerText h2,
.bannerText h3
{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    transform-origin: left;
    text-transform: uppercase;
    transform: scaleX(0);
    animation: revealtextreverse 1s ease-in-out forwards;

}
.bannerText h2
{
    font-size: 6em;
    animation-delay: 2s;
}
.bannerText h3
{
    font-size: 3em;
    animation-delay: 3s;
}
.bannerText h2::before,
.bannerText h3::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #03a9f4;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealtext 1s ease-in-out forwards;
    animation-delay: 3s;
}
.bannerText h3::before
{
    animation-delay: 4s;
}
@keyframes revealtext
{
    0%
    {
        transform: scaleX(1);
    }
    100%
    {
        transform: scaleX(0);
    }
}
@keyframes revealtextreverse
{
    0%
    {
        transform: scaleX(0);
    }
    100%
    {
        transform: scaleX(1);
    }
}
.bannerText p
{
    opacity: 0;
    font-weight: 400;
    font-size: 1.2em;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.bannerText a
{
    opacity: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    background: #03a9f4;
    margin: 20px 0 0;
    padding: 10px 20px;
    border-radius: 3px;
    animation: fadeInetc 1s linear forwards;
    animation-delay: 5.5s;
}
@keyframes fadeInetc
{
    0%
    {
        transform: translateY(50px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.mypic
{
    opacity: 1;
    width: 30%;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.mypic .box
{
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.mypic .box::before
{
    content: '';
    position: absolute;
    background: #03a9f4;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    transform: skew(2deg, 2deg);
    z-index: -1;
}
.mypic .box img
{
    width: 100%;
}
.mypic::before
{
    content: '';
    position: absolute;
    background: #1e1e1e;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    transform-origin: top;
    animation: picopen 1s ease-in-out forwards;
    animation-delay: 3s;
}
@keyframes picopen
{
    0%
    {
        transform: scaleX(1);
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
    25%
    {
        transform: scaleX(1);
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    30%
    {
        transform: scaleX(1);
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    100%
    {
        /* top: 10px;
        left: 100%;
        right: 100%;
        bottom: 10px; */
        transform: scaleX(0);
    }
}